.container-outer {
  width: 100vw;
  min-height: 100vh;
  min-width: 370px;
}

.container-purple {
  height: 100vh;
}

.container {
  width: 100%;
}

.card {
  min-height: 300px;
  min-width: 100%;
}

.card-in-list {
  width: 100%;
}

.column-third {
  width: 33%;
}

.min-height-300px {
  min-height: 300px;
}

.hidden {
  display: none !important;
}

.position-absolute {
  position: absolute;
}

/* display-flex */
.display-flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.align-content-center {
  align-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.text-align-center {
  text-align: center;
}

#yes,
#no {
  padding: 0.5rem 3rem;
  font-weight: 500;
  font-size: 0.9rem;
  color: white;
  background-color: #5fd5c1;
}

#no {
  background-color: #ff8fa2;
}

/* margin & padding */
.margin-auto {
  margin: auto;
}

.margin-b-05-rem {
  margin-bottom: 0.5rem;
}

.margin-b-3-rem {
  margin-bottom: 3rem;
}

.margin-0 {
  margin: 0;
}

.margin-v-025-rem {
  margin: 0.25rem 0;
}

.margin-05-rem {
  margin: 0.5rem;
}

.margin-t-0 {
  margin-top: 0;
}

.margin-t-05-rem {
  margin-top: 0.5rem;
}

.margin-v-05-rem {
  margin: 0.5rem 0;
}

.margin-v-1-rem {
  margin: 1rem 0;
}

.margin-nav-view {
  margin: 1rem 0 0.7rem;
}

.margin-h-1-rem {
  margin: 0 1rem;
}

.margin-v-2-rem {
  margin: 2rem 0;
}

.margin-v-3-rem {
  margin: 3rem 0;
}

.padding-0 {
  padding: 0;
}

.padding-left-1-rem {
  padding-left: 1rem;
}

.padding-right-05-rem {
  padding-right: 0.5rem;
}

.padding-t-05-rem {
  padding-top: 0.5rem;
}

.padding-h-05-rem {
  padding: 0 0.5rem;
}

.padding-b-1-rem {
  padding-bottom: 1em;
}

.padding-05-rem {
  padding: 0.5rem;
}

.padding-1-rem {
  padding: 1rem;
}

.padding-1-rem-except-bottom {
  padding: 1rem 1rem 0;
}

.padding-h-2-rem {
  padding: 0 2rem;
}

.padding-2-rem {
  padding: 2rem;
}

.padding-card-content {
  padding: 0 1rem 1rem;
}

.padding-h-1-rem {
  padding: 0 1rem;
}

.padding-v-1-rem {
  padding: 1rem 0;
}

.padding-h-15-rem {
  padding: 0;
}

button.clue {
  cursor: pointer;
  width: 95%;
  height: 120px;
  margin: 0.25rem;
  text-align: right;
  padding-top: 40px;
  padding-right: 25px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  font-size: 2rem;
  color: #6a5ae0;
  background-color: #efeefc;
  border: none;
  border-radius: 30px;
}

nav {
  height: 2.5rem;
  margin-top: 0.5rem;
}

.border-radius-1-rem {
  border-radius: 2rem;
}

.border-radius-10-px {
  border-radius: 30px;
}

.font-size-09-rem {
  font-size: 0.88rem;
}

.margin-b-1-rem {
  margin-bottom: 1rem;
}

.padding-h-275-rem {
  padding: 0 2.75rem;
}

.clues-container {
  padding: 2rem;
}

.clues-container > p {
  font-weight: 700;
}

.card-text-content > p,
.answered-correctly-container > p,
p.clue-answer,
p.clue-points {
  font-size: 1.1rem;
}

p.clue-text {
  margin-bottom: 2rem;
}

p.return-already-answered {
  /* width: 220px; */
  text-align: center;
  line-height: 2rem;
  margin: 0;
}

button.see-answer,
button.return {
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  border-radius: 15px;
  border: none;
}

button.return {
  cursor: pointer;
  padding: 0.6rem 1.5rem;
}

.margin-b-2-rem {
  margin-bottom: 5rem;
}

.font-size-15-rem {
  font-size: 1.5rem;
}

/* media rule large screen */

@media screen and (min-width: 576px) {
  .container-outer {
    max-width: 768px;
  }

  .clues-container {
    padding: 0 7rem;
  }

  nav {
    height: 1.25rem;
  }

  button.clue {
    cursor: pointer;
    width: 95%;
    height: 150px;
    margin: 0.25rem;
    text-align: right;
    padding-top: 35px;
    padding-right: 35px;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    font-size: 2rem;
    color: #6a5ae0;
    background-color: #efeefc;
    border: none;
    border-radius: 10px;
  }

  button.return {
    padding: 0.5rem 1.75rem;
  }

  button.see-answer {
    padding: 0.4rem 1.25rem;
    border-radius: 10px;
    border: none;
  }

  #yes,
  #no {
    padding: 0.75rem 3rem;
    font-weight: 500;
    font-size: 1rem;
  }

  .padding-h-7-rem {
    padding: 0 7rem;
  }

  .margin-b-2-rem {
    margin-bottom: 2rem;
  }

  .font-size-09-rem {
    font-size: 1.25rem;
  }
}
