.container-outer {
  width: 520px;
}

.container {
  width: 500px;
}

/* .grid-container {
  width: 300px;
} */

.clues-container {
  padding: 0 7rem;
}

.card {
  width: 450px;
  height: 350px;
}

.card-in-list {
  width: 500px;
  height: 350px;
}

.column-third {
  width: 33%;
}

nav {
  height: 1.25rem;
}

/* modal */
.modal-on {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  left: 0;
  right: 0;
  background-color: rgb(0 0 0 / 75%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-off {
  display: none;
}

.hidden {
  display: none !important;
}

/* display-flex */
.display-flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.align-content-center {
  align-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* modal */

/* margin & padding */
.margin-auto {
  margin: auto;
}

.margin-b-1-rem {
  margin-bottom: 1rem;
}

.margin-b-2-rem {
  margin-bottom: 2rem;
}

.margin-0 {
  margin: 0;
}

.margin-05-rem {
  margin: 0.5rem;
}

.margin-t-05-rem {
  margin-top: 0.5rem;
}

.margin-v-1-rem {
  margin: 1rem 0;
}

.margin-v-2-rem {
  margin: 2rem 0;
}

.padding-left-05-rem {
  padding-left: 0.5rem;
}

.padding-right-05-rem {
  padding-right: 0.5rem;
}

.padding-05-rem {
  padding: 0.5rem;
}

.padding-1-rem {
  padding: 1rem;
}

.padding-2-rem {
  padding: 2rem;
}

.padding-h-1-rem {
  padding: 0 1rem;
}

.padding-h-15-rem {
  padding: 0;
}

.padding-h-7-rem {
  padding: 0 7rem;
}

/* media rule */

@media screen and (max-width: 768px) {
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
  }

  .title > h1 {
    font-size: 3.25rem;
  }

  .card {
    height: 600px;
  }

  .card-in-list {
    width: 420px;
  }

  .padding-h-275-rem {
    padding: 0 2.75rem;
  }

  /* .grid-container {
    width: 400px;
  } */

  .clues-container {
    padding: 2rem;
  }

  .clues-container > p {
    font-weight: 700;
  }

  /* button.clue {
    width: 230px;
    height: 70px;
    cursor: pointer;
    margin: 0.5rem;
    text-align: right;
    padding-top: 50px;
    padding-right: 20px;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    font-size: 1.5rem;
    color: #6a5ae0;
    background-color: #1a374d;
    border: none;
  } */

  .card-text-content > p,
  .answered-correctly > p {
    font-size: 1.25rem;
  }

  p.return {
    font-size: 1.25rem;
    margin-top: 4rem;
  }

  button.answered-correctly {
    cursor: pointer;
    margin: 1rem;
    padding: 0.5rem 1.25rem;
    width: 100px;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    font-size: 1.25rem;
    color: white;
    background-color: #406882;
    border: none;
  }

  button.return {
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    font-family: Roboto, sans-serif;
    font-size: 1.25rem;
    color: white;
    background-color: #406882;
    border: none;
  }

  .padding-h-7-rem {
    padding: 0;
  }

  .padding-left-05-rem {
    padding-left: 1.5rem;
  }

  .margin-v-1-rem {
    margin: 2rem 0;
  }

  .margin-b-2-rem {
    margin-bottom: 5rem;
  }
}

@media screen and (min-width: 768px) {
  button.clue {
    cursor: pointer;
    width: 150px;
    height: 100px;
    margin: 0.25rem;
    text-align: right;
    padding-top: 35px;
    padding-right: 35px;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    font-size: 1.25rem;
    color: #6a5ae0;
    background-color: #efeefc;
    border: none;
    border-radius: 10px;
  }

  button.answered-correctly {
    cursor: pointer;
    margin: 0.5rem;
    padding: 0.4rem 1.25rem;
    width: 66px;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    font-size: 0.9rem;
    color: white;
    background-color: #406882;
    border: none;
  }

  button.return {
    cursor: pointer;
    padding: 0.4rem 1.25rem;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    font-size: 0.9rem;
    color: white;
    background-color: #406882;
    border: none;
  }
}
