.caveat {
  font-family: Caveat, cursive;
}

.roboto {
  font-family: Roboto, sans-serif;
}

.font-size-09-rem {
  font-size: 0.9rem;
}

.font-size-15-rem {
  font-size: 1.5rem;
}

.font-size-25-rem {
  font-size: 2.5rem;
}

.font-weight-500 {
  font-weight: 500;
}

.bg-dark-blue {
  background-color: #1a374d;
}

.bg-gray {
  background-color: #b6b6b6;
}

.bg-white {
  background-color: white;
}

.border-solid {
  border: solid;
}

.font-white {
  color: white;
}

.font-light-gray {
  color: #dedede;
}

.font-light-blue {
  color: #406882;
}

/* links */
.text-decoration-none {
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.font-black {
  color: black;
}

.line-height-2-rem {
  line-height: 2rem;
}

/* font-awesome */
.fa-star {
  color: whitesmoke;
}

/* buttons */

/* button.clue {
  cursor: pointer;
  width: 70px;
  height: 70px;
  margin: 0.5rem;
  text-align: right;
  padding-top: 35px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  font-size: 1.25rem;
  color: white;
  background-color: #1a374d;
  border: none;
} */

button.clue:hover {
  background-color: #406882;
}

button.answered-correctly {
  cursor: pointer;
  margin: 0.5rem;
  padding: 0.4rem 1.25rem;
  width: 66px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  font-size: 0.9rem;
  color: white;
  background-color: #406882;
  border: none;
}
