.caveat {
  font-family: Caveat, cursive;
}

.roboto {
  font-family: Roboto, sans-serif;
}

.font-size-09-rem {
  font-size: 0.9rem;
}

.font-size-1-rem {
  font-size: 1rem;
}

.font-size-125-rem {
  font-size: 1.25rem;
}

.font-size-15-rem {
  font-size: 1.5rem;
}

.font-size-2-rem {
  font-size: 2rem;
}

.font-weight-500 {
  font-weight: 500;
}

.bg-purple {
  background-color: #6a5ae0;
}

.bg-dark-purple {
  background-color: #5b4dc3;
}

.bg-light-purple {
  background-color: #efeefc;
}

.bg-gray {
  background-color: #b6b6b6;
}

.bg-light-gray {
  background-color: #f0f0f0;
}

.bg-white {
  background-color: white;
}

.bg-transparent {
  background-color: transparent;
}

.border-none {
  border: none;
}

.border-solid {
  border: solid;
}

.border-thin {
  border-width: thin;
}

.border-radius-10-px {
  border-radius: 10px;
}

.border-radius-1-rem {
  border-radius: 1rem;
}

.box-shadow {
  box-shadow: 3px 3px 5px gray;
}

.font-purple {
  color: #6a5ae0;
}

.font-white {
  color: white;
}

.font-light-gray {
  color: #dedede;
}

.font-light-blue {
  color: #406882;
}

.font-gray {
  color: #939393;
}

/* links */

.cursor-pointer {
  cursor: pointer;
}

.grow {
  transition: all 0.1s ease-in-out;
}

.grow:hover {
  transform: scale(1.025);
}

.font-black {
  color: black;
}

.line-height-2-rem {
  line-height: 2rem;
}

/* font-awesome */
.fa-star-gray {
  color: whitesmoke;
}

.fa-star-yellow {
  color: rgb(255, 217, 0);
}

.fa-star:hover {
  color: rgb(255, 217, 0);
  stroke: black;
}

/* buttons */

button.clue:hover {
  background-color: #cecaff;
}

button.fa {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#answered {
  background-color: white;
  border: 2px solid #efeefc;
}
